@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&family=Ubuntu&display=swap');

:root {
    --primary-color:    #44b2d1;
    --secondary-color:  #096173;
    --accent1-color:    #3C6997;
    --accent2-color:    #F1F2F6;
  }

  * {
    margin: 0;
    padding: 0;
  }

  main {
    max-width: 800px;
    margin: 2rem auto;
    /*font-family: Tilt Prism, Ubuntu;*/
  }

  h2 {
      font-size: 2rem;
      text-shadow: 3px 3px 5px #3C6997;
      font-family: ubuntu;
  }

  h1 {  font-size: 2.5rem;
    text-shadow: 3px 3px 5px #3C6997;
    font-family: Tilt Prism;
    text-decoration: dashed;
  }

  p { font-family: ubuntu ;

  }

  .article {
    display: flex;
    top: 350px;
    right: 15px;
    background: radial-gradient(#eee, #4567aa);
    border: 1px solid #000;
    padding: 0.65rem;
    box-shadow: 0 0 30px #111;
    opacity: 0.8;
    width: 800px;
    height: 100px;
    text-align: left;
  }

  .article img { position: relative;
                  float: right;
  }

  footer {
    margin: 1rem;
    padding: 0.5rem;
    color: navy;
    font-weight: 700;
  }

  .sociallinks {
    display: inline-flex;
    position: relative;
    margin: 1rem;
    padding: 0.5rem;
    color: navy;
   }
  
  /* Style navigation */
  .navigation a {
    text-decoration:none; 
    color: #3C6997;
  }
  
/* Style social media links */
.sociallinks a {
  text-decoration:none; 
  color: #3C6997;
}