@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&family=Ubuntu&display=swap');

:root {
    --primary-color:    #44b2d1;
    --secondary-color:  #096173;
    --accent1-color:    #3C6997;
    --accent2-color:    #F1F2F6;
  
    --heading-font: 'Tilt Prism',Serif;
    --paragraph-font: 'Ubuntu',Serif; 
  
    --nav-background-color: #5ADBFF;
    --nav-link-color: #096173;
    --nav-hover-link-color: #3C6997;
    --nav-hover-background-color: #F1F2F6;
  }

  body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
  }


  header {
    padding: 20px;
    background-color: var(--accent1-color);
  }

  p {
    padding: 25px;
  }

  nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
  }
  
  nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
  }
  
  nav a:link {
    color: var(--nav-link-color);
  }
  
  nav a:visited {
    color: var(--nav-link-color);
  }
  
  nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
  }